@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    --primary-color: #4c57f5;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    background-image: url("https://media.gettyimages.com/photos/graphic-concept-suitable-for-financial-investment-picture-id1201446420?s=2048x2048"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

nav{
background-color: var(--primary-color);
color: white;
padding: 1rem 1rem 0.1rem 1rem;
}


#container{
    text-align: center;
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 2.5rem;
    border: 2px solid var(--primary-color);

}

#container input{
    display: block;
    margin: 0.3rem auto 1rem auto;
    padding: 0.6rem;
    width: 40%;
    border-radius: 0.3rem;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

#check-button{
padding: 0.4rem 1rem;
border-radius: 0.3rem;
border: 2px solid var(--primary-color);
margin-top: 10px;
}

.sad-theme{
    background-image: url("https://media.giphy.com/media/2lD3RImaUwxA4/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.profit-theme{
    background-image: url("https://media.giphy.com/media/5fBH6zoAQg9dHK2ttsc/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


footer{
    padding: 0.1rem;
background-color: var(--primary-color);
color: white;
text-align: center;

}

#result-div{
    border: 1px solid var(--primary-color);
    max-width: 500px;
    margin: 10px auto 0px auto;
    border-radius: 0.5rem;
    padding: 5px;

}